.form-wrapper{
      display: flex;
      justify-content: center;
      
}

.form{
      width: 50%;
      background-color: aliceblue;
      padding: 2rem;
      border-radius: 1rem;
}

.submit-button{
      padding: 2rem;
      width: 25%;
}

/* ******************************** Responsiveness for Tablets   ******************************** */
@media screen and (max-width: 992px) {}
.form{
      width: 75%;
} 


/* ********************************  Responsiveness for Mobiles  ******************************** */
@media screen and (max-width: 600px) {
      .form{
            width: 100%;
      }  
}