.overview-statics-cards-wrapper{
      padding: 1rem;
      margin-top: 2rem;

}

.overview-statics-cards{
      width: 100%;
      padding: 2rem 4rem;
      background-color: rgba(238, 211, 241, 0.722);
      border-radius: 15px;
      margin: 0px;
}

.overview-statics-cards-text{
      font-size: large;
      font-weight: bold;
      text-align: center;
}

.overview-statics-cards-value{
      font-size: x-large;
      font-weight: bold;
      text-align: center;
}

.expensive-card{
      margin: 10px;
      border-radius: 20px;
      display: flex;
      background-color: rgba(156, 156, 234, 0.645);
      padding: 1.5rem 2rem;
      width: 80%;
}

.expensive-card-text{
      width: 100%;
}